---
title: Homepage Formule 1
type: page
layout: default.hbs
homepage: true
---


<div class="hero hero-fullscreen" style="background-image: url(assets/img/{{site.theme}}/hero.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<h1 class="hero-event-title">
						2019 FIA Formula One World Championship<sup></sup> Race Calendar
						<small>Some text goes here</small>
					</h1>
				</div>
			</div>
		</div>

		<div class="f1-agenda">
			<a href="#" class="f1-event">
				<div class="flag"><img src="assets/img/{{site.theme}}/aus.jpg" alt=""></div>
				<div class="country">Australia</div>
				<div class="date">22-25<span>mar</span></div>
			</a>
			<a href="#" class="f1-event">
				<div class="flag"><img src="assets/img/{{site.theme}}/bah.jpg" alt=""></div>
				<div class="country">Bahrein</div>
				<div class="date">6-8<span>apr</span></div>
			</a>
			<a href="#" class="f1-event">
				<div class="flag"><img src="assets/img/{{site.theme}}/chi.gif" alt=""></div>
				<div class="country">China</div>
				<div class="date">13-15<span>apr</span></div>
			</a>
			<a href="#" class="f1-event">
				<div class="flag"><img src="assets/img/{{site.theme}}/aze.jpg" alt=""></div>
				<div class="country">Azerbeijan</div>
				<div class="date">27-29<span>apr</span></div>
			</a>
			<a href="#" class="f1-event">
				<div class="flag"><img src="assets/img/{{site.theme}}/esp.gif" alt=""></div>
				<div class="country">Spain</div>
				<div class="date">22-25<span>mar</span></div>
			</a>
			<a href="#" class="f1-event">
				<div class="flag"><img src="assets/img/{{site.theme}}/mon.jpg" alt=""></div>
				<div class="country">Monaco</div>
				<div class="date">22-25<span>mar</span></div>
			</a>
			<a href="#" class="f1-event">
				<div class="flag"><img src="assets/img/{{site.theme}}/aze.jpg" alt=""></div>
				<div class="country">Azerbeijan</div>
				<div class="date">27-29<span>apr</span></div>
			</a>
			<a href="#" class="f1-event">
				<div class="flag"><img src="assets/img/{{site.theme}}/esp.gif" alt=""></div>
				<div class="country">Spain</div>
				<div class="date">22-25<span>mar</span></div>
			</a>
			<a href="#" class="f1-event">
				<div class="flag"><img src="assets/img/{{site.theme}}/mon.jpg" alt=""></div>
				<div class="country">Monaco</div>
				<div class="date">22-25<span>mar</span></div>
			</a>
		</div>
	</div>
</div>
