---
title: Homepage Formule 1
type: page
layout: default.hbs
homepage: true
---


<div class="hero hero-f1" style="background-image: url(assets/img/{{site.theme}}/hero.jpg)">
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<h1 class="hero-event-title">
						Offical F1 Travel Packages
						<small>2019 FIA Formula One World Championship Race Calendar</small>
					</h1>
				</div>
			</div>
		</div>

		<div class="f1-agenda">
			<a href="event-landing.html" class="f1-event">
				<div class="f1-event-content">
					<div class="flag"><img src="assets/img/{{site.theme}}/aus.jpg" alt=""></div>
					<div class="country">Australia</div>
					<div class="date">25<span>mar</span></div>
				</div>
			</a>
			<a href="event-landing.html" class="f1-event">
				<div class="f1-event-content">
					<div class="flag"><img src="assets/img/{{site.theme}}/bah.jpg" alt=""></div>
					<div class="country">Bahrein</div>
					<div class="date">8<span>apr</span></div>
				</div>
			</a>
			{{!-- <a href="event-landing.html" class="f1-event">
				<div class="f1-event-content">
					<div class="flag"><img src="assets/img/{{site.theme}}/chi.gif" alt=""></div>
					<div class="country">China</div>
					<div class="date">13-15<span>apr</span></div>
				</div>
			</a> --}}
			<a href="event-landing.html" class="f1-event">
				<div class="f1-event-content">
					<div class="flag"><img src="assets/img/{{site.theme}}/aze.jpg" alt=""></div>
					<div class="country">Azerbeijan</div>
					<div class="date">29<span>apr</span></div>
				</div>
			</a>
			<a href="event-landing.html" class="f1-event">
				<div class="f1-event-content">
					<div class="flag"><img src="assets/img/{{site.theme}}/be.jpg" alt=""></div>
					<div class="country">Belgium</div>
					<div class="date">26<span>aug</span></div>
				</div>
			</a>
			<a href="event-landing.html" class="f1-event">
				<div class="f1-event-content">
					<div class="flag"><img src="assets/img/{{site.theme}}/mon.jpg" alt=""></div>
					<div class="country">Monaco</div>
					<div class="date">25<span>mar</span></div>
				</div>
			</a>
			<a href="event-landing.html" class="f1-event">
				<div class="f1-event-content">
					<div class="flag"><img src="assets/img/{{site.theme}}/it.jpg" alt=""></div>
					<div class="country">Italia</div>
					<div class="date">2<span>sep</span></div>
				</div>
			</a>
			{{!-- <a href="event-landing.html" class="f1-event">
				<div class="f1-event-content">
					<div class="flag"><img src="assets/img/{{site.theme}}/esp.gif" alt=""></div>
					<div class="country">Spain</div>
					<div class="date">22-25<span>mar</span></div>
				</div>
			</a>
			<a href="event-landing.html" class="f1-event">
				<div class="f1-event-content">
					<div class="flag"><img src="assets/img/{{site.theme}}/mon.jpg" alt=""></div>
					<div class="country">Monaco</div>
					<div class="date">22-25<span>mar</span></div>
				</div>
			</a> --}}
		</div>
	</div>

	 <!-- Slider 1 -->
	<div class="slider" id="slider1">
		<!-- Slides -->
		<div style="background-image:url(assets/img/{{site.theme}}/hero3.jpg)"></div>
		<div style="background-image:url(assets/img/{{site.theme}}/hero2.jpg)"></div>
		<div style="background-image:url(assets/img/{{site.theme}}/hero.jpg)"></div>
	</div>

	<div class="hero-scroll scrollTo" data-target="#eventinfo">
		<span>Read more</span>
		<div class="arrow"></div>
	</div>
</div>

<section class="section" id="eventinfo">
	<div class="container">
		<div class="ml-line"></div>
		<h3 class="h3 h3--big text-center">Great deals on tickets and hotels</h3>
		<div class="row">
			<div class="event-info-wrapper">

				<div class="event-info-item">
					<div class="img-container ratio-4-3">
						<img data-src="assets/img/{{site.theme}}/illu1.jpg" class="img-fluid lazyload" alt="">
					</div>
					<div class="content">
						<h3 class="h3 h3--eventinfo">Camping</h3>
						<p>
							Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
						</p>
						<ul>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
						</ul>
					</div>
				</div>

				<div class="event-info-item">
					<div class="img-container ratio-4-3">
						<img data-src="assets/img/{{site.theme}}/illu2.jpg" class="img-fluid lazyload" alt="">
					</div>
					<div class="content">
						<h3 class="h3 h3--eventinfo">Full Experience</h3>
						<p>
							Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
						</p>
						<ul>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
						</ul>
					</div>
				</div>

				<div class="event-info-item">
					<div class="img-container ratio-4-3">
						<img data-src="assets/img/{{site.theme}}/illu3.jpg" class="img-fluid lazyload" alt="">
					</div>
					<div class="content">
						<h3 class="h3 h3--eventinfo">Hotel & Tickets</h3>
						<p>
							Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
						</p>
						<ul>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
							<li>Aenean leo ligula</li>
						</ul>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>

{{> testimonials }}
