---
title: Welcome
layout: docs.hbs
--- 

<header class="docs-header">
	<div class="container">
		<div class="row">
			<div class="col">
				{{site.title}} Docs. Version {{site.version}}
			</div>
		</div>
	</div>
</header>
<section class="docs-intro">
	<div class="container">
		<div class="row">
			<div class="col-10 offset-1 col-sm-8 offset-sm-2">
				<h1 class="h1-docs">Welcome<small>Official documentation for continuous integration and delivery of front-end components for {{site.title}}. Documentation, Testing and Guidelines.</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="docs">
		<div class="container">

			
			
			<h3 class="h3-docs">Pages</h3>
			<ul class="ul-docs row m-b-30">
				{{#each pages}}
				{{#isnt data.type 'style'}}
				{{#isnt data.type 'temp'}}
				{{#isnt data.type 'component' }}
				{{#isnt data.title 'Welcome'}}
				<li class="col-md-4"><a href="{{relative dest this.dest}}">{{ data.title }}</a></li>
				{{/isnt}}
				{{/isnt}}
				{{/isnt}}
				{{/isnt}} 
				{{/each}}
			</ul>


			
			<h3 class="h3-docs">Components</h3>
			<ul class="ul-docs row m-b-30">
				{{#each pages}}
				{{#isnt data.type 'page'}}
				{{#isnt data.type 'temp'}}
				{{#isnt data.type 'style'}}
				{{#isnt data.title 'Welcome'}}
				<li class="col-md-4"><a href="{{relative dest this.dest}}">{{ data.title }}</a></li>
				{{/isnt}}
				{{/isnt}}
				{{/isnt}}
				{{/isnt}}
				{{/each}}
			</ul>
			
			

		</div>
	</section>