---
title: Your Booking
type: page
layout: default.hbs
---


<div class="hero hero-event hero--blue" style="background-image: url(assets/img/{{site.theme}}/eventheader.jpg)">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="hero-event-title">{{site.event}}
						<small>{{site.eventdate}}</small>
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- <div class="myBooking-hero">
	<div class="inner">
		<p class="hero-title">{{site.event}}</p>
		<p class="hero-subtitle">{{site.eventdate}}</p>
	</div>
	<div class="hero-background" style="background-image: url(assets/img/{{site.theme}}/eventheader.jpg);"></div>
</div> --}}
<section class="section myBooking">
	<div class="container">
		<a href="#" onclick="goBack()" class="button button-secondary button--back float-right d-none d-md-block page-back">Back</a>
		<h1 class="page-h1">Your booking</h1>
		<div class="row">
			<div class="col-lg-4 m-b-30 p">
				<p class="myBooking-h1">Michel, congratulations with your booking!</p>
				<p>We are looking forward to welcome you at Electronic Family 2018. Please make sure to bring this confirmation for your check in at your hotel, also bring a valid passport or ID card. Please note that the minimum age for EF is 18 years. You can download your tickets via the link above, please make sure to print them while you need them for your acces to Electronic Family.</p>
				<p><strong>Shared transfer/Private transfer</strong></p>
				<p>If you booked 1 of these options we will contact you 1 week prior the event to discuss details like time etc.</p>
				<p>We wish you a great stay, and see you at Electronic Family 2018</p>
			</div>
			<div class="col offset-lg-1">
				<h3>Personal information</h3>
				<div class="content">
					<table>
						<tr>
							<td><strong>Prefix</strong></td>
							<td>Mr.</td>
						</tr>
						<tr>
							<td><strong>First name</strong></td>
							<td>Jurgen</td>
						</tr>
						<tr>
							<td><strong>Last name</strong></td>
							<td>van Zachten</td>
						</tr>
						<tr>
							<td><strong>Email</strong></td>
							<td>jurgen@thisisloco.com</td>
						</tr>
						<tr>
							<td><strong>Phonenumber</strong></td>
							<td>+31(0)646255387</td>
						</tr>
						<tr>
							<td><strong>Address</strong></td>
							<td>Ruysdaelhof Oost 9c</td>
						</tr>
						<tr>
							<td><strong>Zipcode</strong></td>
							<td>5642 JM</td>
						</tr>
						<tr>
							<td><strong>City</strong></td>
							<td>Eindhoven</td>
						</tr>
						<tr>
							<td><strong>Bookingcode</strong></td>
							<td>CODE</td>
						</tr>
					</table>
				</div>
				<h3>Extra travellers</h3>
				<div class="content">
					<table>
						<tr>
							<td><strong>Guest 1</strong></td>
							<td>Mrs. Jurgen van Zachten</td>
						</tr>
					</table>
				</div>
				<h3>Your ticket information</h3>
				<div class="content">
					<table>
						<tr>
							<td><strong>Ticket</strong></td>
							<td>Download ticket</td>
						</tr>
						<tr>
							<td><strong>Download ticket</strong></td>
							<td><a href="#">Download here</a></td>
						</tr>
					</table>
				</div>
				<h3>Your hotel information</h3>
				<div class="content">
					<table>
						<tr>
							<td><strong>Hotel</strong></td>
							<td colspan="2">
								Campanile Hotel 's-Hertogenbosch<br />
								Goudsbloemvallei 21-25 5237 MH<br />
								‘S Hertogenbosch
							</td>
						</tr>
						<tr>
							<td><strong>Arrival date</strong></td>
							<td colspan="2">29-07-2018</td>
						</tr>
						<tr>
							<td><strong>Departure date</strong></td>
							<td colspan="2">29-07-2018</td>
						</tr>
						<tr>
							<td><strong>Room</strong></td>
							<td>1x Twin Room</td>
							<td class="text-right price">€62.00</td>
						</tr>
						<tr>
							<td><strong>Reservation Code</strong></td>
							<td colspan="2">CODE</td>
						</tr>
					</table>
				</div>
				<div class="content">
					<table class="total">
						<tr>
							<td>Total price</td>
							<td class="text-right">&euro;212.60</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>