<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-lg-3 footer-col">
				<h4>Get in touch</h4>
				<ul>
					<li><a href="mailto:info@edmbassy.com"><span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>info@edmbooking.com</a></li>
					<li><a href="tel:+3165238238"><span class="icon"><i class="fa fa-mobile" aria-hidden="true"></i></span>+31 6 52 382 382</a></li>
					<li><a href="https://api.whatsapp.com/send?phone=31652382382&text=Hi {{site.name}}, I have a question"><span class="icon"><i class="fa fa-whatsapp" aria-hidden="true"></i></span>+31 6 52 382 382</a></li>
					<li><a href="address.html"><span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>Our office</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-lg-3 footer-col">
				<h4>Info</h4>
				<ul>
					<li><a href="whybook.html">Why edmbooking</a></li>
					<li><a href="faq.html">Tell me more</a></li>
					<li><a href="login.html">Login</a></li>
					<li><a href="page.html">Our story</a></li>
					{{!-- <li><a href="login.html">Login</a></li> --}}
				</ul>				  
			</div>
			<div class="col-md-4 col-lg-3 footer-col">
				<h4>General</h4>
				<ul>
					<li><a href="page.html">Terms &amp; conditions</a></li>
					<li><a href="faq.html">Privacy policy</a></li>
					<li><a href="page.html">Disclaimer</a></li>
					{{!-- <li><a href="login.html">Login</a></li> --}}
				</ul>				  
			</div>
			<div class="col-lg-3 footer-col d-none">
				<h4>Language</h4>
				<form class="language">
					{{!-- <label>Language</label> --}}
					<select>
						<option>English</option>
					</select>
				</form>
			</div>
			<div class="col-lg-3 footer-col d-none">
				<h4>Your booking</h4>
				<ul>
					<li><a href="login.html">Log in</a></li>
				</ul>
			</div>
			{{!-- <div class="col-lg-3 footer-col">
				<h4>Subscribe</h4>
				<form class="footer-subscribe">
					<div class="inner">
						<input type="text" name="" placeholder="your emailaddress">
						<a href="#" class="submit">ok</a>
					</div>
				</form>
			</div> --}}
			<div class="col-lg-3 footer-col">
				<h4 class="d-none d-lg-block">Follow us</h4>
				<ul class="social">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
					<li><a href="https://api.whatsapp.com/send?phone=31652382382&text=Hi {{site.name}}, I have a question"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
				</ul>			  
			</div>
		</div>
		{{!-- <div class="row">
			<div class="col"><hr></div>
		</div> --}}
		<div class="row">
			<div class="col payoff">
				<div class="copyright">
					&copy; 2018 {{site.name}}. All rights reserved. {{!-- <a href="page.html">Disclaimer</a> --}}
					<span class="legals">
						{{!-- <a href="page.html">Terms &amp; Conditions</a> <a href="page.html">Privacy Policy</a>
						<a href="page.html">Disclaimer</a> --}}
						<a href="index.html">GIT</a>
					</span>
				</div>
				{{!-- <span class="credits"><a href="page.html">Terms &amp; Conditions</a> | <a href="page.html">Privacy Policy</a></span> --}}
			</div>
			
		</div>
		{{!-- <div class="row">
			<div class="col">
				<ul class="social">
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div> --}}
	</div>
</footer>
{{#if homepage}}
<div class="cookies">
	<button class="closeCookies"><img src="assets/img/close.svg" alt=""></button>
	<p>Cookies are used to provide you with the best experience and service. By visiting our website, you consent to the use of <a href="#" title="">cookies</a></p>
</div>
{{/if}}

<div class="changeCSS">
	<div class="container">
		<div class="row">
			<div class="col">
				<strong>Select theme:</strong>
				<ul id="cssChanger">
					<li><a href="#" data-theme="theme-default" rel="{{assets}}/css/styles.min.css" data-path="assets/img/edmbooking/logo.svg">EDMBOOKING (default)</a></li>
					<li><a href="#" data-theme="theme-sensation" rel="{{assets}}/css/sensation.css" data-path="assets/img/sensation/logo.svg">Sensation</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{{!-- <div class="footer-logos">
	<div class="container">
		<ul>
			<li><img src="assets/img/logo-mastercard.png" alt="" class="lazyload"></li>
			<li><img src="assets/img/logo-visa.png" alt="" class="lazyload"></li>
			<li><img src="assets/img/logo-paypal.png" alt="" class="lazyload"></li>
			<li><img src="assets/img/logo-ideal.png" alt="" class="lazyload"></li>
			<li><img src="assets/img/logo-mrcash.png" alt="" class="lazyload"></li>
			<li><img src="assets/img/logo-sofort.png" alt="" class="lazyload"></li>
		</ul>
	</div>
</div> --}}