<header class="header">
	<div class="container">
		<a href="{{site.homepage}}" class="logo">
			<img src="assets/img/{{site.theme}}/{{site.logo}}" alt="{{site.title}}" id="logo">
		</a>
		<nav class="mainnav">
			<div class="booking">

				<div class="language">
					<button class="language-button" data-type="toggle" data-target="#setLanguage">
						<span>EN</span>
					</button>
					<div class="language-selector" id="setLanguage">
						<ul>
							<li class="active"><a href="#" title="">English</a></li>
							<li><a href="#" title="">Español</a></li>
							<li><a href="#" title="">Francais (Beta)</a></li>
							<li><a href="#" title="">Italiano (Beta)</a></li>
							<li><a href="#" title="">Nederlands (Beta)</a></li>
						</ul>
					</div>
				</div>
				{{!-- <a href="">About</a>
				<a href="">About</a> --}}
				<div class="booking-info toggle-yourbooking">
					<span class="booking-cart">My booking</span>
					<span class="booking-amount">&euro;299,00</span>
				</div>
				<button class="hamburger toggle-subnav hamburger--collapse" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>

				{{!-- <button class="hamburger toggle-subnav"></button> --}}
			</div>
		</nav>
	</div>
	{{#if homepage}}
	<div class="notification">
		<div class="container">
			<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
				<circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
				<g id="Group">
					<circle  class="checkmark__circle" id="Oval" fill="none" cx="26" cy="26" r="26"></circle>
					<path class="checkmark__cross" fill="none" d="M26.1923882,24.7781746 L35.3847763,15.5857864 L36.7989899,17 L27.6066017,26.1923882 L36.7989899,35.3847763 L35.3847763,36.7989899 L26.1923882,27.6066017 L17,36.7989899 L15.5857864,35.3847763 L24.7781746,26.1923882 L15.5857864,17 L17,15.5857864 L26.1923882,24.7781746 Z"></path>
				</g>
			</svg>
			<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
				<circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
				<path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
			</svg>
			2x double room added <span>&euro;299</span>
		</div>
	</div>
	{{/if}}
</header>
<noscript>
	asdjasld
</noscript>
<nav class="subnav" id="subnav">
	<ul class="subnav-list">
		<li><a href="homepage.html">Home</a></li>
		{{#if homepage}}
		<li>
			<strong>Events</strong>
			<ul>
				<li><a href="event-landing.html">Martin Garrix</a></li>
				<li><a href="event-landing.html">A State of Trance</a></li>
				<li><a href="event-landing.html">Burning Man</a></li>
				<li><a href="event-landing.html">Love Parade</a></li>
			</ul>
		</li>
		{{else}}
		<li>
			<strong>Accomodations</strong>
			<ul>
				<li><a href="step1-hotels.html">Hotel+Ticket</a></li>
				<li><a href="step1-packages.html">Packages</a></li>
				<li><a href="step1-camping.html">Campsite</a></li>
			</ul>
		</li>
		{{/if}}
		<li><a href="whybook.html">Why EDMBOOKING</a></li>
		<li><a href="faq.html">Tell me more</a></li>
		<li><a href="login.html">Log in</a></li>
		<li>
			<strong>Keep in touch</strong>
			<ul>
				<li><a href="mailto:info@edmbooking.com">E-mail: {{site.email}}</a></li>
				<li><a href="tel:{{site.phone}}">Phone: {{site.phone}}</a></li>
				<li><a href="https://api.whatsapp.com/send?phone=31652382382&text=Hi {{site.name}}, I have a question">Whatsapp: {{site.phone}}</a></li>
			</ul>
		</li>
	</ul>
	<div class="subnav-language d-block d-md-none">
		<form>
			<select>
				<option selected="">Spanish</option>
				<option>English</option>
				<option>Dutch</option>
			</select>
		</form>
	</div>
	<ul class="social">
		<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
		<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
		<li><a href="https://api.whatsapp.com/send?phone=31652382382&text=Hi {{site.name}}, I have a question"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
	</ul>
	<div class="footer-poweredby footer-poweredby--header">
		<p>Powered by</p>
		<img src="assets/img/{{site.theme}}/bookingcom-header.svg" alt="Booking.com" class="bookinglogo">
		<img src="assets/img/{{site.theme}}/iata-header.svg" alt="IATA" class="iatalogo">
	</div>
</nav>
{{> yourbooking }}
<main class="main" id="main">