<div class="offer {{#if groupID}}offer-child {{groupID}}{{/if}}">

	{{#if target}}
	<a href="#" data-type="grouptoggle" data-target="{{target}}" class="offer-link">
	{{else}}
	<a href="{{url}}.html" class="offer-link">
	{{/if}}
		<div class="row">
			<div class="col-5 col-md-6 col-lg-3">
				
				<div class="img-container ratio-1-1 sm-ratio-3-4">
					<div class="ribbon">
						<div>Sold out</div>
					</div>
					<img data-src="http://via.placeholder.com/500x500" class="lazyload" alt="{{title}}">
				</div>
			</div>
			<div class="col-7 col-md-6 col-lg-9 offer-content">
				<div class="row">
					<div class="col-lg-9{{!--  offer-line --}}">
						<h3 class="offer-title">{{title}}</h3>
						{{#if condition}}
						<div class="d-md-none">
							<div class="offer-price">&euro;299 <span class="offer-price-condition">{{condition}}</span></div>
						</div>
						{{else}}
						{{/if}}
						{{#if distance}}
							<div class="rating-wrapper">
								<div class="rating">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
								</div>
								Distance venue 5km
							</div>
						{{else}}
							<p class="offer-subheader">{{subheader}}</p>
						{{/if}}
						<span class="button button-primary d-md-none">{{button}}</span>

						<ul class="offer-list d-none d-md-block">
							<li>Tipi for 9 persons</li>
							<li>9 Single stretchers including sleeping bags and pillows</li>
							<li>Table with stools</li>
							<li>A spot on our campsite</li>
							<li>3 Night stay</li>
							<li>Exclusive pre-party on Thursday</li>
						{{!-- <li>New Horizons welcome package</li>
							<li>1 Parking ticket for Royal Garden parking</li> --}}
						</ul>
					</div>
					<div class="col-lg-3 d-none d-md-block">
						<div class="offer-info">
							{{#if condition}}
							<div>
								<span class="offer-price">&euro;299</span>
								<span class="offer-price-condition">{{condition}}</span>
							</div>
							<span class="button button-primary">{{button}}</span>
							{{else}}
							<span class="button button-primary">{{button}}</span>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</a>
</div>