<div class="offer {{#if groupID}}offer-child {{groupID}}{{/if}}">
    <div class="flex-offer">
        <div class="flex-offer-image">
        	<div class="offer-label">Sold out</div>
            <div class="acco-gallery">
                <div class="owl-carousel owl-theme owl-slideshow">
                    <div class="item">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="http://nh.live.edmbooking.com/media/5aa5d0dd0a96b97585a849d20996fc75/2018/07/25/26a88/600x600.jpg" alt="" class="img-fluid owl-lazy" />
                    </div>
                    <div class="item">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.edmbooking.com/media/hotels/2016/03/14/01e4d/400x400.jpg" alt="" class="img-fluid owl-lazy" />
                    </div>
                    <div class="item">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.edmbooking.com/media/hotels/2016/03/14/74f9c/400x400.jpg" alt="" class="img-fluid owl-lazy" />
                    </div>
                    <div class="item">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.edmbooking.com/media/hotels/2016/03/14/5c619/400x400.jpg" alt="" class="img-fluid owl-lazy" />
                    </div>
                </div>
                <button class="my-next-button"></button>
                <button class="my-prev-button"></button>
            </div>
        </div>
        {{!-- <div class="flex-offer-image">
            <div class="img-container ratio-1-1 sm-ratio-4-3">
                <div class="ribbon">
                    <div>Sold out</div>
                </div>
                <img data-src="http://nh.live.edmbooking.com/media/5aa5d0dd0a96b97585a849d20996fc75/2018/07/15/50d05/600x600.jpg" class="b-lazy" alt="{{title}}">
            </div>
        </div> --}}
        <a href="detail-hotel-ticket.html" class="flex-offer-content">
            <div class="content-wrapper">
                <h3 class="offer-title">Steigenberger Airport Hotel Amsterdam</h3>
                <div class="d-md-none">

                    <div class="offer-price">
                        &euro;299
                        <span class="offer-price-condition">{{condition}}</span>
                    </div>
                </div>

                {{#if distance}}
                <div class="rating-wrapper">
                    <div class="rating rating--overview">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    Distance to venue 5km
                </div>
                {{else}}
                <p class="offer-subheader">{{subheader}}</p>
                {{/if}}

                <div class="bcom  d-lg-none">
                    <div class="bcom-comment">
                        <p>Very good</p>
                        <p class="reviews">4,200 reviews</p>
                    </div>
                    <div class="bcom-rating">8.4</div>
                </div>

                <ul class="offer-list d-none d-md-block m-b-10">
                    <li>Tipi for 9 persons</li>
                    <li>9 Single stretchers including sleeping bags and pillows</li>
                    <li>Table with stools</li>
                    <li>A spot on our campsite</li>
                    <li>3 Night stay</li>
                    <li>Exclusive pre-party on Thursday</li>
                    <li>New Horizons welcome package</li>
                </ul>
            </div>
            <div class="global-pricewrapper">
                {{#if condition}}
                <div class="d-none d-md-block">
                    <div class="bcom d-md-none d-lg-flex">
                        <div class="bcom-comment">
                            <p>Very good</p>
                            <p class="reviews">4,200 reviews</p>
                        </div>
                        <div class="bcom-rating">8.4</div>
                    </div>

                    <span class="offer-price">&euro;299</span>
                    <span class="offer-price-condition">{{condition}}</span>
                </div>
                {{/if}}
                <span class="button button-primary button--mobileblock">Book now</span>
            </div>
        </a>
    </div>
</div>